<h2>友だちリスト</h2>
<div class="row panel panel-primary" id="friends">
  <dl>
    <% friends.each do |fr| %>
    <dt class="friend-date"><%= fr[:created_at] %></dt><dd class="friend-friend"><a href="/profile/<%= fr[:account_name] %>"><%= fr[:nick_name] %></a></dd>
    <% end %>
  </dl>
</div>
